{{!-- Component: Global Site Footer --}}
<footer class="site-footer center-text">

  {{#if @site.secondary_navigation}}
  <nav class="site-footer__navigation">
    {{navigation type="secondary"}}
  </nav>
  {{/if}}

  <div class="site-footer__attribution">

    <div class="site-footer__attribution--copyright">
      <small>
        &copy; {{date format="YYYY"}}
        <span class="h-card">
          <a href="{{@site.url}}" class="u-url u-uid p-name" rel="me">
            {{@site.title}}
          </a>
          {{#if @site.icon}}
          <img class="u-photo" src="{{@site.icon}}" alt="{{@site.title}} icon" style="display: none;" />
          {{/if}}
          <span class="p-note" style="display: none;">{{@site.description}}</span>
        </span>
      </small>
    </div>

    <div class="site-footer__attribution--colophon">
      <small>
        {{t "published with"}} <a href="https://ghost.org">ghost</a> + <a href="https://github.com/klppl"
          rel="me">❤️</a>
      </small>
    </div>

  </div>

</footer>