{{!-- Pagination: Previous page link display --}}
{{#if pagination.prev}}
<div class="center-text pagination-info">
  {{t "Page"}} <strong>{{pagination.page}}</strong> {{t "of"}}
  <strong>{{pagination.pages}}</strong>
</div>
{{/if}}

{{!-- Loop: Post collection rendering --}}
<div class="timeline-container">
  {{#foreach posts visibility="all"}}

  <div class="timeline-item">

    {{!-- LEFT: Date --}}
    <div class="timeline-left">
      <time class="timeline-date" datetime="{{date format='YYYY-MM-DD'}}">
        {{date format="YYYY-MM-DD"}}
      </time>
    </div>

    {{!-- CENTER: Marker/Icon --}}
    <div class="timeline-marker">
      <div class="timeline-icon">
        {{> "post-icon"}}
      </div>
    </div>

    {{!-- RIGHT: Content --}}
    <div class="timeline-right">
      <time class="timeline-date-mobile" datetime="{{date format='YYYY-MM-DD'}}">
        {{date format="YYYY-MM-DD"}}
      </time>
      {{#has tag="#micro"}}
      <div class="timeline-content timeline-content--micro">
        {{excerpt words="50"}}
        <a href="{{url}}" class="timeline-permalink" aria-label="Permalink">#</a>
      </div>
      {{else}}
      <h2 class="timeline-title">
        <a href="{{url}}">{{title}}</a>
        {{#if featured}}<span>★</span>{{/if}}
      </h2>

      <div class="timeline-excerpt">
        {{excerpt words="30"}}...
      </div>

      <a class="timeline-read-more" href="{{url}}" aria-label="{{t "Read more"}}: {{title}}">{{t "Read more"}} &rarr;</a>
      {{/has}}
    </div>

  </div>

  {{/foreach}}
</div>


{{!-- Pagination: Numeric page links --}}
<div class="center-text">{{pagination}}</div>