{{!-- Component: Dynamic Timeline Icon Selection --}}
{{!-- Logic:
1. Priority: First Tag Description (Internal or Public)
2. Action: Wrap icon in a link to the tag's page
3. Default: Pencil emoji (✍️)
--}}

{{#foreach tags visibility="internal" limit="1"}}
<a href="{{url}}" title="{{name}}" class="timeline-icon-link">
    {{#if description}}
    {{description}}
    {{else}}
    ✍️
    {{/if}}
</a>
{{else}}
<span class="timeline-icon-link" title="Default Icon">✍️</span>
{{/foreach}}